/*haocss */
.guide_btn {text-align: center; margin: 0 auto; max-width: 800px;}
.guide_btn a {
    display:inline-block;
    padding: 15px 0;
    border-radius: 25px;
    background-color: #fff;
    line-height: 57px;
    height: 130px;
    width: 160px;
    color: #4A4A4A;
    font-size: 18px;
}
.guide_btn a:hover {
    -webkit-box-shadow: 0px 3px 40px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0px 3px 40px 0 rgba(255, 255, 255, 0.3);
}
.guide_btn_text {
    display: block;
    line-height: 18px;
    color: #018086;
    padding-top: 6px;
    font-weight: 300;
}
.guide_btn_text b{ font-weight: 400; display: block;}
@media (min-width: 768px) {
.col-md-3.col-xs-6 { width: 25%;}
.guide_btn {
    max-width: 720px;
}

}
@media (max-width: 767px) {
  .guide_btn .col-md-3.col-xs-6 { margin-bottom: 30px; }
  .guide_btn a {
    line-height: 40px;
    height: 121px;
    width: 130px;
    font-size: 16px;
}
}
/* end haocss*/
.bottompage {
    text-align: center;
    
}
.bottompage .download__qr__wrap {
    margin: 15px auto;padding: 0;
}
.fixbottom {
  position: fixed;
  bottom: 0;width: 100%;background-color: rgba(255, 255, 255, 0.9);
z-index: 99999;
}


.bottompage .controler {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 100%;
    left: 50%;
    display: block;
    width: 84px;
    height: 40px;
    padding: 5px 10px;
    margin-left: -42px;
}


.ic_download {
    background: url(../images/ic_download.png) no-repeat center;
    width: 40px;
    height: 29px;
    background-size: 40px;
    display: inline-block;
    vertical-align: bottom;
}
.active .ic_download {
	transform: rotate( -180deg );            
}
/* banner */
.banner {
  height: calc(100vh - 135px);
  min-height: 560px;
  position: relative;
}

.banner::before {
  z-index: -999;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(149.57deg, #ffc157 0%, #f28512 48.9%, #fc946d 100%);
}
.swiper-slide .webview {display: block}
.swiper-slide .mobileview {display: none}
.btn.bg-white {
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.btn.bg-white:hover {
  -webkit-box-shadow: 0px 3px 40px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 40px 0 rgba(255, 255, 255, 0.3);
}

.btn.bg-primary {
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.btn.bg-primary:hover {
  -webkit-box-shadow: 0px 3px 40px 0 rgba(218, 33, 40, 0.25);
  box-shadow: 0px 3px 40px 0 rgba(218, 33, 40, 0.25);
}

.download__slogan {
  /* max-width: 380px; */
  line-height: 1.4;
}

.download__left {
  margin: 60px 0;
}

.download__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.download__img > div {
  width: 100%;
}

.download__img img {
  max-width: 68vh;
}

.banner::after {
  position: absolute;
  bottom: -1px;
  z-index: 0;
  left: 0;
  height: 418px;
  max-height: 49vh;
  content: "";
  width: 100%;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1400px) {
  .download__img img {
    max-width: 62vh;
  }
}

@media (min-width: 992px) {
  .download__left {
    padding: 40px 0;
  }
}

@media (max-width: 992px) {
  .banner {
    height: auto;
  }

  .banner::after {
    height: 40vw;
  }

  .download__slogan {
    margin-left: auto;
    margin-right: auto;
  }

  .download__img img {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .download__img {
    padding-top: 0;
    height: auto;
  }

  .banner::after {
    height: 90vw;
  }
  .download__left {
    margin: 30px 0;
  }
  .swiper-slide .webview {display: none}
  .swiper-slide .mobileview {display: block}
}
@media (max-width: 480px) {
  .download__slogan {
    font-size: 17px;
  }
}
.banner > .container {
  z-index: 1;
  position: relative;
}

/* end banner */

/* section */
.section {
  margin: 100px 0;
}
@media (max-width: 767px) {
  .section {
     margin: 60px 0;
  }
}
/* end section */

/* feature */
.feature-phone {
  -webkit-filter: drop-shadow(0 5px 30px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 5px 30px rgba(0, 0, 0, 0.2));
  max-height: calc(100vh - 134px);
  min-height: 450px;
  width: auto;
  height: 601px;
}
.feature-phone-header {
  position: absolute;
  top: calc(3% - 2px);
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  z-index: 2;
}
.feature-phone-inner {
  position: relative;
  display: inline-block;
}
/* end feature */
/* perks */
.perks {
  background-color: #0a7e81;
  padding: 100px 0 60px 0;
  margin-bottom: 0;
  background-image: url(../images/web/perk-shape-top.png);
  background-position: top left;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .perks {
    padding: 60px 0 20px 0; 
  }
}
/* end perks */

/* promo */
.promo {
  background: #f4f4f5;
  padding: 0 0;
  margin: 0;
  border-radius: 0;
  text-align: center;
}

/* end promo */

/* qa */
.qa {
  margin: 0;
  background-color: #f9f9f9;
  padding-bottom: 150px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 100px;
}
.qa .container {
   max-width: 970px;
}
/* end qa */
/* contact */
.contact {
  margin: 30px 0;
}

.contact-logo {
}

.contact-txt {
  color: #7f7f7f;
}

.contact-section {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .qa {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

/* end contact */

/* footer */

footer{
   padding: 60px 0;
   font-weight: 500;
   color: #555555;
   border-top: 1px solid #e6e5e5;
}
.footer-download img{
   max-height: 36px;
}
.footer-download .inline-block{
   max-width: 50%;
}
@media (max-width: 767px) {
  .footer-section {
     margin-bottom: 40px;
  }
  footer{
     text-align: center;
     padding-bottom: 20px;
  }
}
/* end footer */

/* header */
.menu__item-card .menu__sub__item {
  background-image: url(../images/web/bg-nganhangtructuyen.png);
  background-size: auto 100%;
  background-position: left center;
  margin-bottom: 5px;
  min-width: 280px;
  max-width: 100%;
}
.menu__item-card .menu__sub__block {
  background: url(../images/web/ic-custom.png) no-repeat 100%;
  text-align: center;
}
.menu__item-card .menu__sub__wrap {
  background: transparent;
  border: 0;
  padding-top: 10px;
}
.menu__item-card .menu__sub {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
.menu__item-card .menu-sub-hover,
.menu__sub__item:hover {
  background-color: transparent;
}
.menu__logo {
  position: absolute;
  left: 0;
  top: 30px;
}
.menu__item--social img {
  width: 24px;
}
.menu__item--social .menu__item__block {
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__content__wrap {
  position: relative;
}
.menu__item--icon .ic {
  margin-bottom: 1px;
  margin-right: 10px;
}
.menu__item--icon .ic.mobile {
  display: none;
}
@media (min-width: 1201px) {
  .menu-down .menu-loc:not(.menu-phone) a {
    height: 70px;
    line-height: 70px;
  }
  .menu-down .menu-loc:not(.menu-phone) a::after {
    content: "";
    position: absolute;
    bottom: -0%;
    left: 0;
    right: 0;
    margin: auto;
    background: #da4251;
    width: 0;
    height: 2px;
    transition: 0.3s all ease-in-out;
  }

  .menu-down .menu-loc:hover:not(.menu-phone) a::after,
  .menu-down .menu-loc:not(.menu-phone) a.active::after {
    width: 100%;
  }
  .menu__item__block {
    text-transform: uppercase;
  }
  .menu__item__block::before {
    content: "";
    position: absolute;
    height: 18px;
    right: 0;
    top: 6px;
    width: 1px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .menu {
    position: absolute;
  }

  .menu__content__outside {
    top: 0;
    position: fixed;
    z-index: 100;
    left: 0;
  }

  .menu__content__outside {
    width: 100%;
  }

  .menu__content__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
  }

  .menu__content__outside .menu__content {
    max-width: 1170px;
    margin: 0 auto;
  }
  .menu__content__outside {
    background: #0f848d;
  }
  .menu__content__outside::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 100%;
    background: #0f848d;
    z-index: -1;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 0.2)),
      color-stop(61%, transparent),
      color-stop(26%, transparent),
      color-stop(44%, transparent),
      to(rgba(38, 67, 149, 0))
    );
    background: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 0.2) 0%,
      transparent 61%,
      transparent 26%,
      transparent 44%,
      rgba(38, 67, 149, 0) 100%
    );
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.2) 0%,
      transparent 61%,
      transparent 26%,
      transparent 44%,
      rgba(38, 67, 149, 0) 100%
    );
    -webkit-box-shadow: 0px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px rgba(0, 0, 0, 0.4);
  }

  .menu {
    height: auto;
  }

  .main--with-menu {
    padding-top: 97px;
  }

  .menu__mobile__item:not(.menu__mobile__item--visible) {
    display: table-cell;
    text-align: left;
  }

  .menu__mobile__logo {
    display: none !important;
  }
  .menu__mobile__item:not(.menu__mobile__item--visible).menu__mobile__item--hide {
    display: none;
  }

  .trigger {
    display: none;
  }

  .logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }

  .menu__item.added {
    display: none;
  }

  .menu__mobile {
    margin-top: 32px;
  }
}

.menu__item {
  cursor: pointer;
}

.menu__mobile__logo {
  width: auto;
}

.menu__mobile {
  padding: 0 15px;
}

.menu__mobile::after {
  display: none;
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bg-gradient-orange {
  background: -webkit-gradient(linear, left top, left bottom, from(#fd0), to(#f09c1c));
  background: linear-gradient(#fd0 0%, #f09c1c 100%);
}

.bg-gradient-orange .legitRipple-ripple {
  background-color: #fd0;
}

.bg-gradient-orange .btn-text {
  font-size: 14px;
  color: #000000;
  font-weight: normal;
}

.menu__mobile__item {
  white-space: nowrap;
}

.logo-wrap {
  display: block;
}

.menu-loc-ic {
  line-height: 1;
}

.menu__item.added {
  line-height: 1;
}

.logo-wrap {
  height: 100%;
  line-height: 70px;
}

@media (max-width: 1200px) {
  .menu__item-card .menu__sub__item {
    min-width: 0;
  }
  .menu__item-card .menu__sub__block {
    text-align: left;
    padding-left: 15px;
  }
  .menu__item--icon .ic.mobile {
    display: inline-block;
  }
  .menu__item--icon .ic.desktop {
    display: none;
  }
  .menu__item--social {
    display: inline-block;
    padding: 10px 0;
    margin-right: 10px;
    width: 46px;
  }
  .menu__item--social .menu__item__block {
    padding: 0;
    width: 46px;
    height: 46px;
    border-radius: 46px;
    background: #018086;
  }
  .menu__item--social .menu__item__block::before {
    display: none;
  }
  .menu {
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  }

  .menu-loc {
    display: none;
  }

  .logo-wrap img {
    height: 40px;
    width: auto;
  }
}

/* end header */
/* VNPAY */
.vnpay-red {
  color: #ed1c24;
}

.vnpay-blue {
  color: #005baa;
}

.vnpay-sm {
  font-size: 9px;
  top: -3px;
}

/* end VNPAY */
/* animation */
@media (min-width: 1201px) {
  .menu__item__block {
    -webkit-animation: navSlideLeft 0.3s ease-out 0.1s both;
    animation: navSlideLeft 0.3s ease-out 0.1s both;
  }

  .menu__item:nth-child(1) .menu__item__block {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }

  .menu__item:nth-child(2) .menu__item__block {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }

  .menu__item:nth-child(3) .menu__item__block {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }

  .menu__item:nth-child(4) .menu__item__block {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
  }

  .menu__item:nth-child(5) .menu__item__block {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  .menu__item:nth-child(6) .menu__item__block {
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
  }
  .menu__item:nth-child(7) .menu__item__block {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .menu__item:nth-child(8) .menu__item__block {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
  }
  .menu__item:nth-child(9) .menu__item__block {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .menu__item:nth-child(10) .menu__item__block {
    -webkit-animation-delay: 0.55s;
    animation-delay: 0.55s;
  }
  .menu__item:nth-child(11) .menu__item__block {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  .logo-wrap {
    -webkit-animation: navSlideLeft 0.3s ease-out 0.1s both;
    animation: navSlideLeft 0.3s ease-out 0.1s both;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }

  .menu-loc,
  .menu-btn-dk,
  .menu-phone {
    -webkit-animation: navSlideLeft 0.3s ease-out 0.1s both;
    animation: navSlideLeft 0.3s ease-out 0.1s both;
  }

  .menu-loc:nth-child(1) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }

  .menu-loc:nth-child(2) {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
  }
  .menu-loc:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .menu-loc:nth-child(4) {
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
  }
  .menu-loc:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .menu-loc:nth-child(6) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
  }
  .menu-loc:nth-child(7) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .menu-loc:nth-child(8) {
    -webkit-animation-delay: 0.55s;
    animation-delay: 0.55s;
  }
  .menu-loc:nth-child(9) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  .menu-phone {
    -webkit-animation-delay: 0.65s;
    animation-delay: 0.65s;
  }
}

.download__left {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  opacity: 0;
  transition-property: opacity, transform, clip-path, -webkit-transform, -webkit-clip-path;
}

.download__left.animated {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.download__img {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform: translateY(-30px);
}

.download__img.animated {
  opacity: 1;
  -webkit-transform: translateY(0);
  ransform: translateX(0);
}

@-webkit-keyframes navSlideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes navSlideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.title-sub {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
  text-transform: none;
  font-weight: 400;
}
@media (max-width: 767px) {
  .title-sub {
     font-size: 16px;
  }
}
.list-icons-text.animated > li,
.feature-phone-wrap.animated,
.title.animated,
.animated .clip-hand,
.animated .title,
.download__btn.animated,
.guide.animated .container,
.swiper-promo-wrap.animated,
.animated .accordion-plus__item,
.animated .card-perks,
.animated .btn,
.animated .swiper-btn-center-out-wrap {
  -webkit-animation: fadeUp 0.3s ease-out 0.1s both;
  animation: fadeUp 0.3s ease-out 0.1s both;
}

.animated .clip-hand {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.feature-phone-wrap.animated,
.download.animated .download__btn,
.guide.animated .container {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.list-icons-text.animated > li:nth-child(1) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.list-icons-text.animated > li:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.list-icons-text.animated > li:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.list-icons-text.animated > li:nth-child(4) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.list-icons-text.animated > li:nth-child(5) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.list-icons-text.animated > li:nth-child(6) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.animated .card-perks:nth-child(1) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.animated .card-perks:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.animated .card-perks:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.animated .card-perks:nth-child(4) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.animated .card-perks:nth-child(5) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animated .card-perks:nth-child(6) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.animated .accordion-plus__item:nth-child(0) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.animated .accordion-plus__item:nth-child(1) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.animated .accordion-plus__item:nth-child(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.animated .accordion-plus__item:nth-child(3) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.animated .accordion-plus__item:nth-child(4) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animated .accordion-plus__item:nth-child(5) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.animated .accordion-plus__item:nth-child(6) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.animated .accordion-plus__item:nth-child(7) {
  -webkit-animation-delay: 1.0s;
  animation-delay: 1.0s;
}
.animated .accordion-plus__item:nth-child(8) {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.animated .accordion-plus__item:nth-child(9) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.animated .accordion-plus__item:nth-child(10) {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.animated .accordion-plus__item:nth-child(11) {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.animated .accordion-plus__item:nth-child(12) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.animated .accordion-plus__item:nth-child(13) {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.clip.animated .play-button {
  opacity: 1;
}

/* end animation */
/* download */
.download {
  background-color: #f9f9f9;
  position: relative;
  margin-top: 0;
}
.download .container {
  z-index: 2;
  position: relative;
}
.download::after {
  content: "";
  background-color: white;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 70px;
}
.download::before {
  content: "";
  background-color: #0a7e81;
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1;
}

.download__left {
  margin: 60px 0;
}
.download__qr {
  margin-bottom: 20px;
}
.download__qr__wrap {
  padding: 15px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  width: 141px;
}
.download__qr__inner {
  width: 170px;
}
.download__qr__inner img {
  width: 111px;
}

.download__qr .h1 {
  font-size: 36px;
  font-weight: bold;
}
.download__slogan {
  max-width: 458px;
}
.download__btn img {
  height: 50px;
}
@media (max-width: 1199px) {
  .download__qr .h1 {
    font-size: 28px;
    font-weight: bold;
  }
}

@media (max-width: 992px) {
  .download__qr .td {
    display: block;
  }
  .download__qr__inner {
    text-align: center;
    width: auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .download__qr .h1 {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .download__left {
    padding: 40px 0;
  }
}

@media (max-width: 992px) {
  .download__slogan {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .download__left {
    margin: 30px 0;
    text-align: center;
  }
  .download__qr__wrap{
     margin: 0 auto;
  }
  .download__img{
     text-align: center;
  }
  .download__img img{
     margin-left: auto;
     margin-right: auto;
  } 
}
@media (max-width: 480px) {
  .download__slogan {
    font-size: 17px;
  }
  .download__btn .inline-block{
     margin-bottom: 15px;
  }
}
/* end download */

/* list-new */
.card-news {
  margin-bottom: 50px;
  display: block;
}

.card-img {
  border-radius: 6px;
  overflow: hidden;
}

.card-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
  color: #000;
  letter-spacing: 0.5px;
}

.section-list-new {
  padding-top: 60px;
  padding-bottom: 100px;
  border-top: 1px solid #e5e5ea;
  border-bottom: 1px solid #e5e5ea;
  min-height: 80vh;
}

.hover-line {
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), to(rgb(0, 0, 0)));
  background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  background-size: 0 2px;
  background-position: 0px 95%;
  -webkit-transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0.1% 0px;
}

.card-news:hover .hover-line {
  background-size: 100% 2px;
}

.card-img img {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition: -webkit-transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s,
    -webkit-transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s,
    -webkit-transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
}

.card-news:hover .card-img img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.news-content > * {
  font-size: 16px;
}

.news-content {
  margin-top: 40px;
  letter-spacing: 0.2px;
}
.section-list-new .news-item{
   margin-bottom: 60px;
}
/* end list-new */
/* blog */
.news-item {
  display: block;
  margin-bottom: 30px;
  color: #000000 !important;
}
.news-all {
  text-transform: uppercase;
  font-weight: bold;
}
.news-item__sub {
  font-size: 16px;
  text-transform: uppercase;
  color: #018086;
  margin-top: 25px;
  font-weight: 500;
}
.news-item__txt {
  font-weight: 500;
  margin-top: 20px;
}
.hover-line {
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), to(rgb(0, 0, 0)));
  background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  background-size: 0 2px;
  background-position: 0px 95%;
  -webkit-transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0.1% 0px;
}
.news-item {
  cursor: pointer;
}
.news-item:hover .hover-line {
  background-size: 100% 2px;
}
.news-item:hover .news-item__img img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.news-item__img {
  overflow: hidden;
  padding-top: 75%;
  position: relative;
  background: #f9f9f9;
}
.news-item__img img {
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition: -webkit-transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s,
    -webkit-transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
}
.news-detail-body p,
.news-detail-body .p {
  font-size: 16px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 992px) {
  .scroll-content-list {
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .scroll-content-list > * {
    width: 80vw;
    max-width: 268px;
  }
  .blog-item__txt {
    white-space: normal;
  }
  .blog-all {
    padding-top: 20px;
    display: block;
  }
  .blog-item__txt {
    font-size: 16px;
  }
  .news-item__sub{
     margin-top: 15px;
     font-size: 14px;
  }
  .news-item__txt{
     margin-top: 10px;
     font-size: 18px;
  }
}

/* end list-new */

.guide{
   background-image: url(../images/web/guild-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 100px 0;
   background-color: #018086;
   margin-bottom: 0;
}

/* custom pagination */
.pagination {
  font-size: 15px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #be1128;
  border-color: #be1128;
}

.pagination > li > a,
.pagination > li > span {
  border: 0 !important;
  width: 36px;
  height: 36px;
  border-radius: 18px !important;
  line-height: 36px !important;
  padding: 0 !important;
  color: #000;
  display: block;
}

.pagination > li {
  display: inline-block;
}

.pagination > li.active > a {
  color: white !important;
}

/* end custom pagination */

/* iframe-phone */
.body__wrap {
  max-width: 277px;
  margin: 0 auto;
  font-size: 0;
  height: 100%;
}

.iframe-phone {
  width: calc(100% - 12%);
  margin: 0 auto;
  left: 6.1%;
  height: 95%;
  z-index: 1;
  top: calc(3% - 2px);
  position: absolute;
  background: white;
  border-radius: 25px;
  overflow: hidden;
}
.iframe-phone-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* end iframe-phone */
.modal-open .menu__content__outside {
  padding-right: 17px;
}
.menu {
  position: fixed;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);
}

.phone-ring {
  position: relative;
  display: block;
  margin: 0;
  width: 1em;
  height: 1em;
  font-size: 40px;
  background-color: #018086;
  border-radius: 0.5em;
  box-shadow: 0 0 0 0em rgba(218, 33, 40, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.05);
  transform: translate3d(0, 0, 0) scale(1);
  margin-right: 10px;
}

.phone-ring::before,
.phone-ring::after {
  position: absolute;
  content: "";
}

.phone-ring::before {
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(0);
}

.phone-ring::after {
  top: 0.25em;
  left: 0.25em;
  width: 0.5em;
  height: 0.5em;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate3d(0, 0, 0);
}

.phone-ring.is-animating {
  animation: phone-outer 3000ms infinite;
}

.phone-ring.is-animating::before {
  animation: phone-inner 3000ms infinite;
}

.phone-ring.is-animating::after {
  animation: phone-icon 3000ms infinite;
}

@keyframes phone-outer {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow: 0 0 0 0em rgba(218, 33, 40, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.05);
  }
  33.3333% {
    transform: translate3d(0, 0, 0) scale(1.1);
    box-shadow: 0 0 0 0em rgba(218, 33, 40, 0.1), 0em 0.05em 0.1em rgba(0, 0, 0, 0.5);
  }
  66.6666% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow: 0 0 0 0.5em rgba(218, 33, 40, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.05);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow: 0 0 0 0em rgba(218, 33, 40, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.05);
  }
}

@keyframes phone-inner {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0);
  }
  33.3333% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0.9);
  }
  66.6666% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
  }
}

@keyframes phone-icon {
  0% {
    transform: translate3d(0em, 0, 0);
  }
  2% {
    transform: translate3d(0.01em, 0, 0);
  }
  4% {
    transform: translate3d(-0.01em, 0, 0);
  }
  6% {
    transform: translate3d(0.01em, 0, 0);
  }
  8% {
    transform: translate3d(-0.01em, 0, 0);
  }
  10% {
    transform: translate3d(0.01em, 0, 0);
  }
  12% {
    transform: translate3d(-0.01em, 0, 0);
  }
  14% {
    transform: translate3d(0.01em, 0, 0);
  }
  16% {
    transform: translate3d(-0.01em, 0, 0);
  }
  18% {
    transform: translate3d(0.01em, 0, 0);
  }
  20% {
    transform: translate3d(-0.01em, 0, 0);
  }
  22% {
    transform: translate3d(0.01em, 0, 0);
  }
  24% {
    transform: translate3d(-0.01em, 0, 0);
  }
  26% {
    transform: translate3d(0.01em, 0, 0);
  }
  28% {
    transform: translate3d(-0.01em, 0, 0);
  }
  30% {
    transform: translate3d(0.01em, 0, 0);
  }
  32% {
    transform: translate3d(-0.01em, 0, 0);
  }
  34% {
    transform: translate3d(0.01em, 0, 0);
  }
  36% {
    transform: translate3d(-0.01em, 0, 0);
  }
  38% {
    transform: translate3d(0.01em, 0, 0);
  }
  40% {
    transform: translate3d(-0.01em, 0, 0);
  }
  42% {
    transform: translate3d(0.01em, 0, 0);
  }
  44% {
    transform: translate3d(-0.01em, 0, 0);
  }
  46% {
    transform: translate3d(0em, 0, 0);
  }
}

/* menu-phone-menu */
.menu-loc {
  position: relative;
}
.menu-phone-menu-wrap {
  position: absolute;
  font-size: 14px;
  width: 230px;
  margin: 0;
  text-align: left;
  padding-top: 6px;
  display: none;
}
.menu-phone-menu-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 14px;
  height: 6px;
  width: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6'%3E%3Cpath id='Path_1531' data-name='Path 1531' d='M1733.833-798.987l6-6,6,6h-12' transform='translate(-1733.833 804.987)' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.menu-phone-menu {
  margin: 0;
  border-radius: 6px;
  background: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.menu-phone-menu a {
  padding: 15px;
}
.menu-phone-menu .menu-phone-menu-txt {
  padding-left: 10px;
}
.menu-phone-menu a:hover {
  background-color: #f5f5f5;
}
.menu-loc:hover .menu-phone-menu-wrap,
.menu-loc--mobile .menu-phone-menu-wrap {
  display: block;
}
.menu-phone-menu-wrap--mobile {
  position: relative;
  width: 100%;
  display: block;
}
.menu-phone-menu-wrap--mobile .menu-phone-menu {
  box-shadow: none;
}
.menu-phone-menu-wrap--mobile::before {
  display: none;
}
.menu-phone-menu-wrap--mobile .menu-phone-menu a {
  padding: 15px 10px;
}
/* end menu-phone-menu */

/* chat-box */
.support-online {
  position: fixed;
  bottom: 120px;
  right: 1%;
  z-index: 3;
  outline: none !important;
}

.support-online .support-online-animatiion {
  position: relative;
}

.support-online .scale-shadow {
  position: absolute;
  color: #fff;
  width: 70px;
  height: 70px;
  top: 50%;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -56%);
  border-radius: 50%;
}

.support-online .scale-shadow:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(1.2);
}

.support-online .scale-shadow:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(1.3);
}

.support-online #shadow-2:before {
  background: radial-gradient(circle, rgba(255, 193, 37, 0.3), rgba(255, 193, 37, 0.1));
  animation: animationShadow1 3s infinite linear;
}

.support-online #shadow-2:after {
  border: 0.5px solid #fcc602;
  animation: animationShadow2 1.5s infinite;
}

.support-online .support-online:focus {
  outline: none !important;
}

@media screen and (max-width: 768px) {
  .support-online {
    bottom: 40px;
    right: 0px;
  }
}

.support-online #modal-open-box-chat {
  background: none !important;
  border: none !important;
  outline: none !important;
}

#modal-open-box-chat:focus,
#modal-open-box-chat.bnt:focus {
  outline: none !important;
  box-shadow: none;
}

@keyframes animationChatBox {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg);
  }

  60% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes animationShadow1 {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }

  25% {
    opacity: 1;
    transform: scale(1.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  75% {
    opacity: 1;
    transform: scale(1.3);
  }

  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

@keyframes animationShadow2 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  25% {
    opacity: 1;
    transform: scale(1.4);
  }

  50% {
    opacity: 1;
    transform: scale(1.4);
  }

  100% {
    opacity: 0;
    transform: scale(1.6);
  }
}
/* end chat-box */

/* modal */
.modal-content {
  border: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  transition: none;
}

.modal {
  z-index: 3000;
  -webkit-overflow-scrolling: touch;
}
.modal-dialog-centered .modal-content {
  overflow: hidden;
}
.modal-xs {
  width: 320px;
  max-width: calc(100vw - 30px);
}

.modal-sm {
  width: 480px;
  max-width: calc(100vw - 30px);
}

.modal-md {
  width: 600px;
  max-width: calc(100vw - 30px);
}

.modal-lg {
  width: 1000px;
  max-width: calc(100vw - 30px);
}

.modal-xl {
  width: 1200px;
  max-width: calc(100vw - 30px);
}
.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  min-width: 40px;
  margin-right: 5px;
}

.modal-close img {
  width: 16px;
}

.modal-content {
  border-radius: 10px;
}

.modal-header {
  padding: 30px 30px 15px 30px;
  border: 0;
}

.modal-body {
  border: 0;
  text-align: inherit;
  padding: 15px 30px;
}
.modal-footer {
  padding: 10px 30px 15px 30px;
  border: 0;
}
.modal.alert {
  z-index: 3001;
  text-align: center;
}

.modal.alert .modal-header {
  border: 0;
}

.modal.alert .modal-footer {
  text-align: center;
}

.modal .open > [data-content] {
  max-height: none !important;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  position: relative;
  z-index: 1;
}
.modal-dialog-scrollable .modal-header::after,
.modal-dialog-scrollable .modal-footer::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 15px;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(rgba(255, 255, 255, 0.03)));
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.modal-dialog-scrollable .modal-header::after {
  bottom: -15px;
}

.modal-dialog-scrollable .modal-footer::after {
  top: -15px;
  transform: rotate(180deg);
}

@media (max-width: 767px) {
  .modal-body {
    padding: 15px;
  }
  .modal-header {
    padding: 15px 15px;
  }
  .modal-footer {
    padding: 10px 15px;
  }
}

@media (max-width: 576px) {
  .modal-dialog {
    margin: 0.5rem auto;
  }
}

/*end modal*/

.menu__mobile {
  overflow: visible;
}
.download__qr {
  margin-bottom: 20px;
}
.download__qr__inner {
  width: 170px;
}
.download__qr__inner img {
  border-radius: 10px;
  width: 150px;
}

.download__qr .h1 {
  font-size: 36px;
  font-weight: bold;
}

@media (max-width: 1199px) {
  .download__qr .h1 {
    font-size: 28px;
    font-weight: bold;
  }
}

@media (max-width: 992px) {
  .download__qr .td {
    display: block;
  }
  .download__qr__inner {
    text-align: center;
    width: auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .download__qr .h1 {
    margin-bottom: 0;
  }
}
/* fix chatbot */
.title.h2 {
  background-color: transparent !important;
  float: none;
  border-radius: 0;
  cursor: none;
  padding: 0;
  line-height: 1.1;
  height: auto;
  width: auto;
  margin-bottom: 60px;
}
.title.h2.margin-sm{
   margin-bottom: 40px;
}
@media (max-width: 767px) {
  .title.h2 {
     margin-bottom: 40px;
  }
}
#content_chat input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

#content_chat select {
  -webkit-appearance: menulist-button;
}
#content_chat textarea {
  -webkit-appearance: textarea;
}
#content_chat input {
  -webkit-appearance: input;
}
#content_chat button {
  -webkit-appearance: button;
}
.btn-line-red {
  transition: all 0.5s;
}
.btn-line-red:hover {
  background: #da4251;
  color: #fff;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(185, 62, 100, 0.24);
  box-shadow: 0px 20px 30px 0px rgba(185, 62, 100, 0.24);
}

.btn-line-red:hover > * {
  color: #fff;
}

.btn-arrow-right:hover .btn-ic img{
   opacity: 0;
}

.btn-arrow-right:hover .btn-ic{
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.116' height='5.729' viewBox='0 0 10.116 5.729'%3E%3Cg id='Group_1603' data-name='Group 1603' transform='translate(-1494.946 -57.077)'%3E%3Cpath id='arrow-right' d='M5.062-5.059,2.2-7.923H.77L3.128-5.564H-5.054v1.012H3.128L.77-2.194H2.2Z' transform='translate(1500 65)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
   background-size: 11px auto;
   background-position: center;
   background-repeat: no-repeat;
}